// MainView.scss

#mainView {
  width: 100%; height:46.875rem; 
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  text-align: center;
  background-color: #aac;
}