/* ContentBox.css */

#ContentBox{
  width:100%; height:auto; min-height:75rem; 
  padding-top:3.75rem; padding-bottom: 2rem;
  background-image: linear-gradient(180deg, #ddf, #fda);
  background-color: #fda;
}