/* HeadBox.css */

#HeadBox{
  position:fixed; top: 0; left: 0; right: 0;
  width:100%; height:60px; 
  margin:auto; box-sizing:border-box; padding:10px;
  background-color: rgba(255,255,255,0.4);
}

.container {
  display:flex; justify-content: space-between;
  width:100%; max-width: 1200px; min-width: 600px;
  height:100%; 
  margin:auto;
  background-color: #fff;
}

h1 {width: 130px; height: 100%; background-color: #dfa;}
.navigation {width:auto; height:100%;}
.navigation h2 { width: 0; height: 0; overflow: hidden;}
.navigation ul{
  display: flex; gap:20px; align-items: center;
  height:100%; 
  list-style: none;
}
.navigation li{
  position: relative;
  width: auto; height:auto;
  text-align: center;
  text-transform: uppercase;
}

.navigation li::before{
  position: absolute; top: 0; bottom: 0; left:-11px; 
  content:""; display:block;
  width:2px; height:15px; margin:auto;  
  background-color: #7af; 
}
.navigation li:first-child::before { display: none;}

.navigation li a{padding:0.5rem;}
.navigation li a:hover{color:#00a; font-weight:700;}
.navigation li a:focus{color:#a3a; border-bottom:1px solid #a3a;}
