// footer.scss
@use '../common/mixin' as *;

#footBox {
  width: 100%; height: 300px; 
  box-sizing: border-box; padding: 10px;
  background-color: #333;}

.foot__con__area {
  @include container();
  background-color: #fff;
}