
.StudyType {
  width: 100%; height: 400px; 
  border:1px solid #999; 
  margin-bottom:2rem; margin-top: 1rem;
}
.StudyType:last-of-type{
  margin-bottom: 0;
}
.StudyType h3 {
  display: flex; align-items: center;
  width: 100%; height:50px; 
  font-size:24px;
  background-color: #fafafa;
}

ul,ol {list-style: none; margin: 0; padding: 0;}

.StudyType ul {
  width: 100%; height:350px; background-color: #faa;
  display: flex; justify-content:space-between;
  align-items: center;
}
.StudyType li {
  width: 270px; height: 300px;
  background-color: #ddd;
}