/* StudyItem.css */

.StudyItem a{
  display: block; width: 100%; height: 100%;
  background-color: #fff;
}

.skill_tip {
  position: relative;
  /* display:flex; justify-content: space-between;
  align-items: flex-start; */
  width: 100%; height:60%;
  box-sizing: border-box; padding:0.5rem; border-radius:0.7rem;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: 50% 50%;
  background-color: #fa0;
  overflow: hidden;
  /* background:  no-repeat 50% 50% url() / cover; */
}
.skill_tip::before {
  content: ""; display: block;
  position: absolute; left:0; bottom: 0; 
  width:100%; height: 50%;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));
}

.software_icon {
  position: absolute; top: 0.5rem; left: 0.5rem;
  width: 2rem; height: 2rem; 
  border-radius:5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: #fff;
}
.software_icon.none { display: none;}

.label {
  position: absolute; top: 0.5rem; right: 0.5rem;
  width:auto; height:auto;
  padding:0.2rem 0.4rem; border-radius:5rem;
  font-size:0.875rem; font-weight:500; color:#fff;
  background-color:#d5d;
}
.label.none {display: none;}

.price {
  position: absolute; 
  width: 100%; height: auto;
  right: 0.5rem; bottom: 0.5rem;
  font-weight: 500;
  text-align: right;
  font-size:1.3rem;
  color:#fff;
}

.price .sale {display: none;}

.sale_on .origin {
  position: relative;
  float:right; padding:0 0.5rem;
  margin-top: -1.5rem;
  font-size:1rem;
}
.sale_on .origin::after {
  content:""; position: absolute;
  top: 50%; left: 0;
  width:100%; height:1px;
  background-color: #fff;
}
.sale_on .sale {display: inline;}

.StudyItem dl {
  width: 100%; height:40%;
  box-sizing: border-box; padding-top: 0.7rem;
}

.StudyItem dt {
  width: 100%; height:50%; margin-bottom:1rem;
  font-size:1.2rem; font-weight: 700; 
  text-transform: capitalize;
  overflow: hidden;
}

.StudyItem dd {
  width: 100%; height:auto;
  box-sizing: border-box;
  padding: 0.5rem 0;
  color:#575757; 
  font-weight: 700;
  overflow-y: visible;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.StudyItem .option {
  margin-right:1rem;
  padding:0.3rem 0.5rem; 
  border:1px solid #999;
  border-radius:0.2rem;
  color:#333;
  background-color: #dfdfdf;
}
