// mixin.scss
@import "./variable";

%full {width:$full; height:$full;}

@mixin full(){
  width:$full; height:$full;
}


a.full {
  display: block;
  width: 100%; height: 100%;
  background-image: url();
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: contain;
  
  cursor: pointer;
  border:0;
}

a > span {
  position: absolute; z-index: -1;
  clip:rect(0,0,0,0);
  width:1px; height:1px; overflow: hidden;
}

$url:'./path/';
@mixin btnImage($f, $r:no-repeat, $p:50% 50%, $s:cover){
  display: block;
  width: 100%; height: 100%;
  background-image: url($url + $f);
  background-repeat: $r;
  background-position:$p;
  background-size: $s;
  
  cursor: pointer;
  border:0;

  & > span {
    position: absolute; z-index: -1;
    clip:rect(0,0,0,0);
    width:1px; height:1px; overflow: hidden;
  }
  &:hover, &:focus { @content; }
}


// ===========================================
@mixin container() {
  width: 100%; max-width:1400px; height: 100%; min-height:50px; margin:auto;
}

@mixin flex($j:space-between, $v:flex-end){
  display:flex; justify-content:$j; align-items:$v;
}


// responsive =========================================
@mixin rwd($r:$laptop){
  @media all and ( max-width:($r - 1) ) {
    @content;
  }
}