
@import '../common/variable';
@import '../common/mixin';

#headBox {
  width: 100%; height: 80px;
  background-color: #fff; 
  border-bottom: 1px solid #000;
  transition: all 500ms ease;
}

#headBox span {
  color:#fff;
  background-color: #07a;
  transition: all 500ms ease;
}

#headBox span.action {
  color:#000;
  background-color: #fda;
}