@charset "utf-8";
/* a_08_rwd.css */
:root{
  --phone:320px;
  --tablet:600px;
  --laptop:1024px;
  --desktop:1440px;
  --base:var(--desktop);
}


/* 기본형: 1400 이상 */
#wrap {
  width:100%; min-width:1400px;
  height:auto; min-height:900px;
  background-color: #eee;
}

#headBox {
  display:flex; 
  justify-content: space-around;
  width: 100%; height:80px;
  padding:10px; box-sizing: border-box;
  background-color: #fff;
}

h1{width: 100px; height: 60px;
  background-color: #adf;}
.gnb{ height: 60px; background-color: #fda; }
.mobile_menu {display: none;}
.gnb ul {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.gnb li { position: relative; padding:0 10px;}
.gnb li::before {
  content:""; display: block;
  position: absolute; right:0; top:0; bottom:0;
  width:1px; height:50%;
  margin:auto;
  background-color: #555;
}
.gnb li:last-child::before { display: none;}
.gnb a { padding:10px 20px; }



/* 스마트폰: 320px */
@media all and (max-width:599px) {
  #wrap {min-width: 320px;}
  #headBox {
    padding:10px 20px;
    justify-content: space-between;
  }
  h1 {position:relative; z-index:1100;}
  .gnb ul {display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed; top:0; left:0;
    width: 100%; height: 100%;
    box-sizing: border-box;
    padding:80px 30px;
    background-color: #fa7;
  }
  .gnb li {padding:20px 0;}
  .gnb li::before {
    bottom: 0; top:auto; left:0; 
    width:10px; height:2px;}

  .mobile_menu {
    display: block;
    position: relative; z-index: 1100;
    width: 60px; height: 60px;
    font-size:1.5rem;
    color:#f06;
    background-color: #add;
  }
  .mobile_menu button {
    font-size: inherit;
    color:inherit;
  }
  /* .mobile_menu:hover + ul { display: flex;} */
}

/* 태블릿 600px */
@media all and (min-width:600px) and (max-width:1023px) {
  #wrap {min-width:auto;}
  #headBox { justify-content: space-between; }
  .gnb ul {display: none;}
  .mobile_menu {
    display: block;
    width: 60px; height: 60px;
    font-size:1.5rem;
    color:#f06;
    background-color: #add;
  }
} 

/* 노트북: 1024px */
/* @media all and (min-width:1024px) and (max-width:1399px) {
  body {background-color: var(--color-yellow_01);}
} */



/* 데스크탑: 1400px -> 기본형 크기를 기준으로 작업
@media all and (min-width:1400px) {
  body {background-color: var(--color-yellow_02);}
  .box {left:auto; right:0;}
} */

/* 
  디자인 가이드상 화면에 큰 모니터로 보는 규격 
  1920px(임의 규격이므로 더 큰 화면에서도 동작해야한다) 
*/


/* 
1. 터치가 가능하게 공간 범위를 조정
2. 텍스트의 크기는 pc의 크기와, tablet, mobile 규격들이 대부분 같다.(일부 예외)
3. 명도대비는 이유불문 항상 고려해서 제작
4. 파일관리를 용이하게 파악 할 수 있도록 처리(필요에따라서는 가이드문서를 제작하여 처리)
*/


/* 
display
overflow
position
width/height
margin/padding/border/box-sizing
font-family/font-weight/font-style/line-height/letter-spacing/word-spacing...
background-color/background-image/background-repeat.....
effect처리내용
etc...

id="camelCase"
class="under_score"
name="doubleUnder__score"

OOCSS/SMACSS/BEM
*/