
/* #footBox ========================= */
#footBox { 
  width:100%; height:450px; 
  padding-top: 68px; box-sizing: border-box;
  background-color: #777;}

.info_logo { 
  width: 120px; height: 70px; margin-bottom: 45px;
  background-color: #fff;}
.info_company {
  width: 100%; height: auto;
  background-color: #fff;}

  .foot_content {float:left; 
    width:500px; height: 200px; 
    background-color:var(--color-primary);}
  .foot_other {
    float:right; width: 200px; height: 160px;
    margin-top:20px;
    background-color: var(--color-sample);}