
/* #footBox ========================= */
#footBox { 
  width:100%; height:450px; 
  padding-top: 68px; box-sizing: border-box;
  background-color: #777;}

.info_logo { 
  width: 120px; height: 70px; margin-bottom: 45px;
  background-color: #fff;}
.info_company {
  width: 100%; height: 135px;
  background-color: #fff;}