/* #headBox ========================= */
#headBox { 
  position: fixed; z-index:1000; top: 0; left: 0;
  width:100%; 
  height:100px; 
  height:var(--offset-height);
  box-sizing: border-box; padding-top: 20px; 
  background-color: #ccc;}

.company {
  float:left;
  width: 120px; height: 70px;
  background-color: #777;
}

.navigation {
  float:right;
  width: 510px; height: 70px;
  background-color: #777;
}
