@charset "UTF-8";
/* b_baseCode_selector_002.css */

 /* reset.css ============================== */ 
 body { margin:0; }
 h1 {margin: 0; }
 /* design.css ============================== */ 
 #wrap { width:100%; height:600px; background-color: #ccc;}
 .content_area ul > li > a span {background-color: #acf;}
 ul ol a span{ border:3px solid #f70; }
 .content_area > ol > li:nth-child(1) {color:#f00 }
 .content_area > ol li > a { color:#555;}
 a{color:inherit;}    