@charset "UTF-8";
/* b_baseCode_positon.css */
/* Variable.css */
:root {
  --color-black  : #171717;
  --color-black2 : #333;
  --color-white  : #fff;
  --color-gray   : #ddd;
  --color-primary: #07a;
  --color-point  : #fa7;
  --color-green  : #afa;
}

/* Reset.css */
html,body {margin: 0; color:#333; color:var(--color-black2);}
h1,h2,h3,h4,h5,h6,p {margin: 0;}
ul,ol,dl {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color:inherit;}
button {border:0; background-color: transparent; cursor: pointer; border-radius:0;}

/* Common.css */
.blind {display:block; width: 0; height: 0; overflow: hidden;}
.clearfix {height: auto;}
.clearfix:after, .clearfix::after { content:""; 
  display: block; clear:both; width: 100%; height: 0;}

/* design ============================================= */
/* 1024px : 1366px(국제표준) : 1920px(국내표준)  */

#wrap { width:1200px; height:3000px; 
  padding:0 10px; box-sizing: border-box; 
  margin:150px auto; 
}

/* .position */
.position {width: 100%; height: 500px; 
  border:2px solid #171717;}

.frame {width: 600px; height:150px; 
  margin:auto;
  border:2px solid #07a;
  border:2px solid var(--color-primary);
  background-color: #ddd;
  background-color: var(--color-gray);
}
.frame > li {
  float:left; width:100px; height:100px;
  color:#fff; font-weight: 700;
  text-transform: capitalize;
  text-align: center; line-height:100px;
}
/* leading vs line-height */

.default { background-color: #6E1CE9;}
.static{
  position:static; 
  /* z-index:-5000; 
  top:300px; left:500px;  */
  background-color: #D5A76A;}

.fixed{ position:fixed; top:0; bottom:auto; left:auto; right:0; z-index:-100; background-color: #2592E8;}
.absolute{ position:absolute; bottom:0; right:0; z-index:200; background-color: #FF1D20;}
.relative{ position: relative; top:200px; left:-150px; z-index:-1; background-color: #7184AF;}
.frame { position: relative; z-index: 0;}

/* ------------------------------------ */
.layout_01 {position:relative; width: 800px; height: auto; 
  padding-top:20px; padding-bottom: 20px; margin:50px auto; 
  background-color: var(--color-gray);}

.button_wrap {--size-button:40px;
  position: absolute; z-index:100; top:50%; left:-20px; left:calc(var(--size-button) / -2);
  width:840px; width:calc(100% + var(--size-button)); 
  height:0;}

.button_wrap button {width: var(--size-button); height: var(--size-button); background-color: #333;}
.button_wrap .next_button {float:right;}
.button_wrap .prev_button {float:left;}

.card_wrap{ width: 100%; height: 240px; margin-top: 20px;}
.card_wrap > li {position: relative; float:left; width:180px; height:240px;
  margin-right:25px; border:1px solid var(--color-black2); box-sizing: border-box;
  background-color: var(--color-white); }
.card_wrap > li:nth-child(4) {margin-right: 0;}
.card_wrap a {display: block; width: 100%; height: 100%; }

.tag {position: absolute; top: 0; left: 0; width:50px; height:60px; background-color: var(--color-point);}
.image {width: 100%; height:180px; background-image:linear-gradient(30deg, #adf, #fda);}

/* .layout_02 -------------------------------------- */
.layout_02 {
  width: 1200px; height:auto; min-height:300px; margin:30px auto; 
  background-color: #ddd;
}
h2 {width: 100%; max-width:1200px; height:auto; 
   margin-bottom:30px; padding-top:10px; border-bottom:1px solid var(--color-black2);
   font-size:20px;
  }
.product_wrap {position: relative; width: 80%; height:auto; 
  margin:0 auto; padding-bottom:100px; 
  
  background-color: var(--color-white);
}
.product_wrap:before,
.product_wrap::before {content:""; display:block; 
  position: absolute; bottom:-20px; left: 0; right: 0; margin:auto;
  width:100px; height:2px; 
  background-color: var(--color-primary);}

.more_button {position: absolute; bottom:20px; left:0; right:0; margin:auto; width:200px; height:50px;}
.more_button button {width: 100%; height: 100%; 
  color:var(--color-white); font-size:18px; 
  background-color: var(--color-primary); 
}

.product_wrap ul {width: 100%; height: auto; 
  box-sizing: border-box; padding:10px 60px; padding-top: 0; }
.product_wrap li {width: 100%; height: 40px; 
  margin-bottom:30px;
  border:1px solid var(--color-black2); box-sizing: border-box; 
  /* box-shadow:x y blur color; */
  box-shadow:3px 3px 5px #777;
}
.product_wrap a { display: block; 
  width: 100%; height: 100%; 
  background-color: var(--color-white);}
.product_wrap a:hover {background-color: var(--color-point);}
.product_wrap a:focus {transform:scale(1.05);}

/* display(overflow) - position - width - height - margin - padding - border - font - background - effect - etc */
