@charset "UTF-8";
/* c_layout_code_001.css */

body { margin:0; }

#wrap {
  width:900px; height:auto; min-height:500px; 
  margin:0 auto;
  background-color:#ddd;
}

.box { 
  width:600px; height:600px; 
  margin:0 auto;
  background-color: #95d6a4;
}

/* -------------------------------- */
.box_01 > div {width: 100%; height: 200px;}
.box_01 > .inner_01 { background-color:#456ea2;}
.box_01 > .inner_02 { background-color:#fff9eb;}
.box_01 > .inner_03 { background-color:#ffcf5d;}
