@charset "UTF-8";
/* c_layout_code_002.css */

/* Reset.css */
html,body {margin:0;}
h1,h2,h3,h4,h5,h6,p {margin: 0;}

.blind {width: 0; height: 0; overflow:hidden;}

/* Design.css */
/* body { background-color: #000070;} */
/* #wrap ===================================== */ 
#wrap { width: 600px; height: 500px; 
  margin:0 auto; margin-top: 50px;}

/* #header ===================================== */ 
  #header { width:100%; height:100px; 
    background-color: #f07;}

/* #section ===================================== */ 
  #section {width:100%; height:300px; 
    background-color: #fa0;}
    .sect_01{float:left; width:200px; height:300px; background-color: #329664;}
    .sect_02{float:left; width:400px; height:300px; background-color: #555;}

/* #footer ===================================== */ 
  #footer {width:100%; height:100px;
    background-color: #03f;}