
@use './common/variable' as *;
@use './common/reset';

.App { 
  width: 900px; height:auto; min-height:400px;
  margin:auto; background-color: $color-white_02;
}

#headBox {
  width: 100%; padding: 0.5rem; 
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}
.gnb {
  margin-top:0.5rem; padding: 0.4rem; 
  box-sizing: border-box;
  background-color: #7af;
  ul {display: flex; gap:20px; text-transform: capitalize;}

  a { color:#fff; }  
  a.active { font-weight: 700; font-size:1.2rem; color:#fa0; }
  a.on { color:#171717; }
}


main {
  padding: 1rem; 
  margin: 1rem 2rem; 
  background-color: #fff;
}

button {padding:0.2rem; background-color: #777; color:#fff; cursor: pointer;}

#footBox {
  padding: 0.7rem; 
  background-color: #777; 
  color:#fff;}