
/* #newBox ========================= */
#newBox { 
  width:100%; height:700px; 
  padding-top: 62px; box-sizing: border-box;
  background-color: #fff;}

.area_title {
  width: 940px; height: 70px; 
  margin:auto; margin-bottom: 48px;
  background-color: #aaa;}
.new_indicator{
  position: absolute; bottom:-80px; left:0; right:0; margin:auto;
  width: 500px; height: 30px; background-color: #fa0;
  text-align: center;}
.new_indicator li {display:inline-block; 
  width: 30px; height: 30px; margin-right:5px; background-color: #adf;}
.new_indicator li:last-child {margin-right: 0;}

/* --------------------------- */
.new_content{
  overflow: hidden;
  width: 940px; height: 370px; margin:auto; background-color: #aaa;}
.new_content ul {width: 400%; height: 100%;}
.new_content li {
  float:left; width: 300px; height: 370px; margin-right:20px;
  background-color: var(--color-primary);}
.new_content li:last-child {margin-right: 0;}