/* #slideBox ======================= */
#slideBox {width: 100%; height: 600px; 
  padding-top: 50px; box-sizing: border-box;
  background-color: #999;}
.slide_part {
  width: 960px; height:500px; margin:auto;
  background-color: #777;
}