@charset "utf-8";
/* variable.css */

:root{
  font-size:16px;

  /* Color styles */
  --color-black:#171717;
  --color-deepGray: #555;
  --color-primary:#aaf;
  --color-sample: #adf;

  --color-primary_01: rgba(26, 93, 84, 1);
  --color-primary_02: rgba(131, 76, 51, 1);
  --color-light_gray_01: rgba(196, 196, 196, 1);
  --color-light_gray_02: rgba(170, 170, 170, 1);
  --color-light_gray_03: rgba(117, 117, 117, 1);
  --color-deep_gray: rgba(80, 80, 80, 1);
  --color-black_01: rgba(51, 51, 51, 1);
  --color-black_02: rgba(23, 23, 23, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-gray_op: rgba(85, 85, 85, 0.3);
  --color-yellow_01: rgba(255, 189, 85, 1);
  --color-yellow_02: rgba(247, 233, 211, 1);
  --color-white_02: rgba(239, 239, 239, 1);

  /* Font-family styles */
  --font-set: 'Noto Sans KR', sans-serif;

  /* Font-size styles */
  /* base size: content_03 (16px) */
  --font-title_02: 2.5rem;
  --font-title_03: 2.25rem;
  --font-title_04: 1.75rem;
  --font-title_05: 1.38rem;
  --font-content_01: 1.38rem;
  --font-content_02: 1.12rem;
  --font-content_03: 1rem;
  --font-content_04: 0.75rem;
  --font-content_04-1: 0.75rem;
  --font-button_text: 1.38rem;
  --font-style_code_01: 0.56rem;
  --font-style_code_02: 0.62rem;
  --font-style_code_03: 0.75rem;

  /* Effect styles */
  --effect-shadow_01:  0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Border styles */
  --border-line_01 : 1px solid var(--color-deep_gray);
  --border-line_02 : 4px solid var(--color-primary_01);
}